{% extends "pcell/header.html" %}

{% block content %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<p>&nbsp;</p>
<!-- <h2>Job Description</h2> -->
<div style="text-align: center; background-color: #d2d2d2; margin-top: 10px; border-radius: 15px; font-family: 'Open Sans', sans-serif;">

      <span style="font-size: 75px">Job Description</span>
      
      </div>
    <article class="media content-section" style="margin-top: 40px; font-family: 'Times Roman'; font-size: 30px">
          <div class="media-body">
            <h2>{{ companies.job_profile }}</h2>
              <h3>{{ companies.company_name }}</h3>
              <h5>Location: {{ companies.company_location }}</h5>
              <hr style="border: 0;
    height: 5px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
              <h5>Category: {{ companies.company_category }}</h5>
              <h5>CTC: {{ companies.company_ctc }}</h5>
              <h5>Academic Eligibility: {{ companies.job_eligibility }}</h5>
              <h5>Required Skills: {{ companies.job_skills }}</h5>
              <hr style="border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
            <p class="article-content">{{ companies.job_details }}</p>
          </div>
    </article>
    <!-- <article class="media content-section" style=" font-size: 20px"> -->
          <!-- <div class="media-body"> -->
             <button class="button is-light " style=" position: relative; margin-left: 37%; background-color: rgb(105 105 105);color: #6900FF;"> <a href="{% url 'apply_job' companies.id %} "  style="color: white ; font-size : 20px">Apply for this job profile</a> </button>
              <!-- <h5 style="color:blue;"><a href="{% url 'apply_job' companies.id %}">Apply for this job profile</a></h5> -->
          <!-- </div> -->
    <!-- </article> -->

{% endblock %}