{% extends "placement/header.html" %}
{% block content %}
<div
    style="text-align: center; background-color: #d2d2d2; margin-top: 10px; border-radius: 15px; font-family: 'Open Sans', sans-serif;">

    <span style="font-size: 75px">Welcome</span>
    <br>
    <span style="font-size: 55px">Campus Placement</span>
</div>
<img class="center-fit" src='/static/placement/cover.jpg'>
<!-- <img width="1200" class="center-fit" src='/static/placement/collage333.jpg'> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="sectiontitle">
    <h2>HIGHLIGHTS</h2>
    <span class="headerLine"></span>
</div>
<div id="projectFacts" class="sectionClass">
    <!-- <div class="fullWidth eight columns"> -->
    <div class="projectFactsWrap ">
        <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
            <i class="glyphicon glyphicon-th-list"></i>
            <p id="number1" class="number">12</p>
            <span></span>
            <p style="font-family: 
                        'Genos', sans-serif; margin-left: 38px">Companies Visited</p>
        </div>
        <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
            <i class="glyphicon glyphicon-signal"></i>
            <p id="number2" class="number">55</p>
            <span></span>
            <p style="font-family: 
                        'Genos', sans-serif; margin-left: 45px">Highest package</p>
        </div>
        <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
            <i class="glyphicon glyphicon-bitcoin"></i>
            <p id="number3" class="number">359</p>
            <span></span>
            <p style="font-family: 
                        'Genos',sans-serif; margin-left: 45px">Average Package</p>
        </div>
        <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
            <i class="glyphicon glyphicon-user"></i>
            <p id="number4" class="number">246</p>
            <span></span>
            <p style="font-family: 
                        'Genos', sans-serif; margin-left: 45px">Students Placed</p>
        </div>
    </div>
    <!-- </div> -->
</div>
{% endblock %}